@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Kanit", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos globales para hacer la aplicaci칩n responsive */
html,
body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

/* Estilos para hacer que las im치genes sean responsive */
img {
  max-width: 100%;
  height: auto;
}

/* Estilos para mejorar la accesibilidad en dispositivos t치ctiles */
button,
input[type="button"],
input[type="submit"] {
  min-height: 44px;
  min-width: 44px;
}

/* Estilos para mejorar la legibilidad en dispositivos m칩viles */
@media (max-width: 768px) {
  body {
    font-size: 16px;
  }
}

